/development/silver-cms/target/
/development/silver-cms/*/target/
/development/silver-cms/silver-cms-template/silver-cms-template-showcase/target/
/development/silver-cms/silver-cms-commons/.settings/*
/development/silver-cms/silver-cms-dao/.settings/*
/development/silver-cms/silver-cms-entity/.settings/*
/development/silver-cms/silver-cms-service/.settings/*
/development/silver-cms/silver-cms-web/.settings/*
/development/*/.classpath
/development/*/.project
